<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mails">
    <test name="FFTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestScenarios"/>
        </classes>
    </test>
    <test name="IETest">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name="TestScenarios"/>
        </classes>
    </test>
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestScenarios"/>
        </classes>
    </test>
    <test name="OperaTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestScenarios"/>
        </classes>
    </test>
    <test name="YandexBrowserTest">
        <parameter name="browser" value="yandex"/>
        <classes>
            <class name="TestScenarios"/>
        </classes>
    </test>
</suite>

